@media (max-width: 768px) {
  button {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    width: 80%;
  }

  .contato {
    width: 5vh;
    height: 5vh;
    bottom: 10px;
    margin: 0 auto;
    right: 45vw;
  }

  .cursor,
  .cursor2,
  #desktop {
    display: none;
  }

  .title {
    height: 15%;
    width: 60%;
    margin-bottom: 2.25vw;
  }

  .title img {
    height: 60%;
  }

  .todo {
    border-radius: 2rem 2rem 0 0;
  }

  .loading img {
    width: 95%;
    margin-bottom: -30rem;
  }

  .tasks {
    flex-direction: column;
    gap: 1rem;
  }

  .tasks li {
    border-radius: 1rem;
    width: 100%;
    height: 12rex;
    font-size: 2vh;
    border: 1vw solid #50270E;
  }

  .modal-content {
    height: 10vh;
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0.5rem;
  }

  .resto-modal {
    height: 100%;
  }

  #add-task-modal {
    height: 70%;
    width: 30%;
    margin-right: -1.5rem;
    border-radius: 1rem;
  }

  input {
    margin-left: -1.5rem;
    width: 100%;
    height: 70%;
    font-size: 0.8rem;
  }

  .modal {
    top: 7.5vh;
  }
}

@media (min-width: 768px) {
  .modal {
    top: 0;
  }

  .headermodal {
    height: 10%;
  }

  input {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin-left: -1rem;
  }

  #add-task-modal {
    height: 100%;
    width: 20%;
    margin-right: -1rem;
    border-radius: 1rem;
  }

  #mobile {
    display: none;
  }

  .resto-modal {
    height: 50%;
  }

  .modal-content {
    height: 20vh;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }

  .tasks {
    gap: 1rem;
  }

  .tasks li {
    border-radius: 2rem;
    width: calc(50% - 2rem);
    height: 15rex;
    font-size: 2vw;
    border: 1vh solid #50270E;
    flex-direction: row;
    justify-content: space-between;
  }

  .loading img {
    width: 80%;
    margin-bottom: -30vh;
  }

  button {
    margin-left: auto;
    margin-right: 6rem;
    font-size: 2.2rem;
    border-radius: 2rem;
    width: 20rem;
  }

  .contato {
    width: 3.5vw;
    height: 3.5vw;
    bottom: 10px;
    left: 0;
    margin: 0.8vw;
  }

  .title {
    height: 25%;
    width: 90%;
  }

  .title img {
    margin-left: auto;
  }

  .todo {
    border-radius: 4rem 4rem 0 0;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background-color: #007553;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  cursor: none;
}

.cursor {
  mix-blend-mode: luminosity;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}

.cursor2 {
  mix-blend-mode: luminosity;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

/* landing css */

.loading {
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #007553;
  z-index: 5;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.loading.hidden {
  transform: translateY(30vh);
  background: none;
  opacity: 0;
}

.fundo {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.title.visible {
  opacity: 1;
}

.todo {
  position: relative;
  background-color: #EAE9B6;
  bottom: -100vh;
  height: 100%;
  width: 90%;
  margin: 0;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.todo.visible {
  transform: translateY(-100vh);
  opacity: 1;
}

.button {
  height: 10%;
}

button {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  background-color: #50270E;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 10px;
  cursor: none;
  font-family: 'Comfortaa', 'Open Sans';
  font-weight: bold;
  color: #EAE9B6;
}

.tasks {
  position: relative;
  margin: auto;
  height: 80%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2vw;
}

.tasks li {
  display: flex;
  font-family: 'Comfortaa', 'Open Sans';
  background-color: #EAE9B6;
  color: #50270E;
  align-items: center;
  box-sizing: border-box;
  text-indent: 1vw;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #50270E;
  color: #EAE9B6;
  font-size: 1.2em;
  margin-left: 1vh;
  text-indent: 0vw;
}

#icon-2 {
  border-radius: 20%;
  margin-right: 1vw;
  margin-left: auto;
  transition: transform 3s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #50270E;
  border-radius: 3vw;
  margin: 15% auto;
  width: 50vw;
}

#closeicon {
  color: #EAE9B6;
  float: right;
  border-radius: 20%;
  margin: 0;
}

.resto-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-modal {
  background-color: #EAE9B6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#add-task-modal:hover {
  background-color: #007553;
}

#iconmodal {
  color: #50270E;
  background: none;
  margin: 0;
  padding: 0;
}

input {
  font-family: 'Comfortaa', 'Open Sans';
  text-indent: 1rem;
  background-color: #EAE9B6;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-sizing: border-box;
}

.contato {
  position: fixed;
  border-radius: 40px;
  display: flex;
  justify-content: center;
}